# Neural Data
AAD/Analysis Scripts/Results/CU-204/Step_15_Spec_SS_g_PCA_CCA_FINAL_CU_204_SpecTrajCombo.mat
AAD/Analysis Scripts/Results/LIJ-174/Step_15_Spec_SS_g_PCA_CCA_FINAL_LIJ_174_SpecTrajCombo.mat
AAD/Analysis Scripts/Results/LIJ-182/Step_15_Spec_SS_g_PCA_CCA_FINAL_LIJ_182_SpecTrajCombo.mat
AAD/Stimuli/stimuliStructLite.mat
