# Neural Data
auditory_attention_decoder/analysis_scripts/results/CU-204/Step_15_Spec_SS_g_PCA_CCA_FINAL_CU_204_SpecTrajCombo.mat
auditory_attention_decoder/analysis_scripts/results/LIJ-174/Step_15_Spec_SS_g_PCA_CCA_FINAL_LIJ_174_SpecTrajCombo.mat
auditory_attention_decoder/analysis_scripts/results/LIJ-182/Step_15_Spec_SS_g_PCA_CCA_FINAL_LIJ_182_SpecTrajCombo.mat
auditory_attention_decoder/stimuli/stimuliStructLite.mat
